@model Application.ViewModels.EntitiesViewModel
@{
    ViewData["Title"] = "Admin Regions";
}

<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold">Administrador de Pokemones</h1>
            <p class="lead text-muted">
                Si no encuentras tu pokemon favorito crea uno con las
                caracteristicas que quieras, deja que fluya tu imaginación.
            </p>
            <p>
                <a asp-controller="Adminpokemons" asp-action="Create" class="btn btn-lg btn-primary my-2">Crea un nuevo pokemon</a>
            </p>
        </div>
    </div>
</section>

<div class="row">

    @if (Model == null || Model.PokemonList.Count == 0)
    {
        <h1 class="text-center fw-light mb-3 mt-3">Lo sentimos :(</h1>
        <h5 class="text-center lead text-muted">No se ha encontrado ningún pokemon.</h5>
    }
    else
    {
        @foreach (var pokemon in Model.PokemonList)
        {
            <div class="col-4 mb-4">
                <div class="card bg-dark shadow text-light">
                    <img src="@pokemon.ImagePath" class="card-img-top bd-placeholder-img img-pokemon" alt="pokemon img" />
                    <div class="card-body">
                        <h2 class="card-title text-center fw-bold mb-3">@pokemon.Name</h2>
                        <p><i class="fw-bold m-0">Region: </i> @pokemon.Region</p>
                        <p><i class="fw-bold m-0">Tipo primario: </i> @pokemon.TypePrimary</p>
                        <p><i class="fw-bold m-0">Tipo secundario: </i> @pokemon.TypeSecondary</p>

                        <a asp-controller="AdminPokemons" asp-action="Delete" asp-route-id="@pokemon.Id" class="btn btn-danger float-end">
                            <i class='bx bxs-trash'></i>
                        </a>

                        <a asp-controller="AdminPokemons" asp-action="Edit" asp-route-id="@pokemon.Id" class="btn btn-primary float-end me-2">
                            <i class='bx bxs-edit'></i>
                        </a>

                    </div>
                </div>
            </div>
        }
    }

</div>