<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokedex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pokedex_App.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' asp-append-version="true" />
</head>
<body>
    @{
        bool homePage = false, adminPokemonsPage = false, adminRegionsPage = false, adminPokemonTypesPage = false;

        switch(ViewBag.Page){
            case "home": 
                {
                    homePage = true;
                    break;
                }
            case "adminPokemons":
                {
                    adminPokemonsPage = true;
                    break;
                }
            case "adminRegions":
                {
                    adminRegionsPage = true;
                    break;
                }
            case "adminPokemonTypes":
                {
                    adminPokemonTypesPage = true;
                    break;
                }
        }
        ViewData["Title"] = "Register Pokemon";
    }

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
                        <a class="nav-link fw-bold fs-5 @(homePage ? "active" : "" )" aria-current="page" asp-controller="Home" asp-action="Index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5 @(adminPokemonsPage ? "active" : "" )" aria-current="page"
              asp-controller="AdminPokemons" asp-action="Index">Pokemones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5 @(adminRegionsPage ? "active" : "" )" aria-current="page"
                asp-controller="AdminRegions" asp-action="Index">Regiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5 @(adminPokemonTypesPage ? "active" : "" )" aria-current="page"
                asp-controller="AdminPokemonTypes" asp-action="Index">Tipos de pokemones</a>
          </li>
        </ul>
        @if (ViewBag.Page == "home")
        {
            <form class="d-flex" role="search" method="post" asp-action="Index">
                <input class="form-control me-2" type="search" name="PokemonName"
                    placeholder="Busca un pokemon..." aria-label="Search" required>
                <button class="btn btn-dark border-white" type="submit">Burscar</button>
            </form>
        }

      </div>
    </div>
  </nav>
    <div class="container" id="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Pokedex App.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
